header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    height: 250px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
.principal {
    background: #cccccc;
}

#banner {
    width: 100%;
    max-height: 350px;
    
}

.tituloCentralizado {
    text-align: center;
}

p {
    text-align: center;
}

#mission {
    font-size: 20px;
}

em, strong {
    color: #ff0000;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.itens {
    font-style: italic;
}

.imagembeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url(./images/bg.jpg);
    margin: 40px 0 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin:10px 0 0;
    padding-bottom: 20px;
}

